@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Roboto', sans-serif;
}

table, th, td {
  @apply border dark:border-neutral-500 text-left  p-2
}

td {
  @apply p-2 
}

.app-screen {
  @apply flex h-screen bg-gray-100
}

.app-screen__container {
  @apply flex flex-col mx-2 w-full lg:mx-auto lg:w-[960px] gap-5 justify-center
}

.error-container {
  @apply p-4 w-full bg-red-300 rounded-md text-gray-700 flex justify-between
}

.error-container button {
  @apply text-red-950 font-bold
}

.form-container {
  @apply flex flex-col w-full justify-center gap-5
}

.form-container__inputs {
  @apply flex flex-col justify-between gap-2 lg:flex-row 
}

.form-container__input_group {
  @apply flex flex-col  w-full
}

.form-input {
  @apply border-2 border-gray-800 rounded-md h-11 p-3 
}

.form-button {
  @apply self-end border p-3 rounded-lg bg-slate-600 text-white hover:bg-slate-500
}

.form-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.table-container { 
  @apply flex flex-col justify-center items-center border dark:border-neutral-500 
}

.table-title {
  @apply py-3
}

.table-pagination-panel{
  @apply py-3 flex gap-3 text-sm
}

.table-pagination-panel button{
  @apply border px-2 py-1 rounded-lg border-neutral-500 
}

.label-span {
  font-size: 10px;
  color: red
}
